<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
  <title>Document</title>
</head>
<body>
  
  <section>
    
    <div class="col1">
      <h1 id="heading">Movie Poll</h1>
      <form action="">
        <div>
          <label for="name">Points for Spiderman:</label>
        <input type="text" name="name" id="name" required> 
        </div>
        <div>
          <label for="name">Points for Dragonball:</label>
          <input type="text" name="name" id="name" required>
        </div> 
        <div>
          <label for="name">Points for Minions:</label>
          <input type="text" name="name" id="name" required>
        </div> 
        <div>
          <label for="name">Points for Jaws:</label>
          <input type="text" name="name" id="name" required>
        </div> 
        <div>
          <label for="name">Points for Thor:</label>
          <input type="text" name="name" id="name" required>
        </div> 
        <button type="submit">Submit</button>
      </form>
    </div>

    <div class="col2">
      <canvas id="myChart" class="col2" width="400" height="400"></canvas>
    </div>
  </section>

  
  
  

<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>